{# templates/dashboard_admin/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tableau de bord admin{% endblock %}

{% block body %}
<div class="container">
    <h1>Tableau de bord admin</h1>

    <h2>Toutes les publications :</h2>

    <ul>
        {% for user in users %}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">{{ user.idUtlisateur }}</p>
                    <p class="card-text">{{ user.prenomUtilisateur }}</p>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
    <a href="http://127.0.0.1:8000/voir-post-admin/{{ user.idUtlisateur }}" class="btn btn-primary">Retour au tableau de bord admin</a>
        {% endfor %}
    
{% endblock %}
